.gallery-container {
    max-width: 1400px;
    margin: auto;
    padding: 40px 20px;
}

.page-title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 50px;
}

/* Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 35px;
}

/* Image box */
.gallery-item {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 18px 45px rgba(0,0,0,.12);
}

/* Image */
.gallery-item img {
    width: 100%;
    height: 420px;
    object-fit: contain; /* الصورة باينة كاملة */
    background: #f9f9f9;
    transition: transform .4s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

/* Empty */
.empty {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.3rem;
    color: #888;
}










/* container */
.gallery-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.page-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

/* article style */
.module-post {
    margin-bottom: 80px;
}

/* image container */
.magnifier-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

/* image stays FIXED */
.magnifier-image {
    width: 100%;
    display: block;
}

/* loupe circle */
.magnifier-glass {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;

    background-repeat: no-repeat;
    background-size: 140%;

    /* smooth animation */
    transition:
        opacity 0.25s ease,
        transform 0.15s ease-out;

    transform: translate(25px, -50%) scale(0.95);
}

